@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

.rot{
  transform: rotate(15deg);
}
.container{
  background-color: rgb(208, 191, 255);
  font-family: 'Chela One', cursive;
  font-size: 80%;
}
